<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница ввода пароля</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="container">

    <div class="text-center mt-5">
        <h1>Введите пароль</h1>
        <p>Клуб: {{ club_name }}</p>
        <!-- Добавьте форму для ввода пароля и отправки на страницу club_page -->
        <form action="{% url 'password_page' %}?club_name={{ club_name }}" method="post">
            {% csrf_token %}
            <input type="hidden" name="club_name" value="{{ club_name }}">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="site_password" required>
            <button type="submit" class="btn btn-primary btn-block mt-3">Войти</button>
        </form>

        {% if error_message %}
            <p class="text-danger mt-3">{{ error_message }}</p>
        {% endif %}
    </div>

</body>
</html>
